{% extends 'base.html.twig' %}

{% block title %}Factories{% endblock %}

{% block body %}
    <h1>Factories</h1>

    <ul>
        {% for factory in factories %}
            <li>
                <a href="{{ path('factory_show', {id: factory.id}) }}"><p>{{ factory.name }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
